@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{

box-sizing:border-box;

font-family:'Roboto', sans-serif;

}



body{

margin:0;

background:#f4f4f4;

min-height:100vh;

padding-top:90px;

padding-bottom:70px;

}



header{

position:fixed;

top:0;

width:100%;

background:#004b87;

color:white;

text-align:center;

padding:20px;

}



footer{

position:fixed;

bottom:0;

width:100%;

background:#004b87;

color:white;

text-align:center;

padding:15px;

}



main{

display:flex;

justify-content:center;

}



.card{


background:white;

width:90%;

max-width:500px;

padding:30px;

border-radius:12px;

box-shadow:0 0 15px #aaa;


}



h2{

text-align:center;

}



form{

display:flex;

flex-direction:column;

gap:10px;

}



input, select{


padding:10px;

border-radius:5px;

border:1px solid #777;


}



button{


padding:12px;

border:none;

border-radius:5px;

background:#f1c40f;

cursor:pointer;

font-weight:bold;


}



button:hover{

opacity:0.8;

}



.erro{

color:#e74c3c;

font-size:14px;

}



@media(max-width:600px){


.card{

width:95%;

}


}